.tae-header {
    width: 100%;
    background-color: #6f9dee;
    font-size: 25px;
    font-family: "Roboto", arial;
    padding: 10px 0 10px 10px;
    color: white;
}
.tae-body {
    width: 70%;
    float: left;
    background-color: #FFE4C4;
    padding: 5px;
}
.tae-input {
    width: 100%;
    border: 2px inset #EEEEEE;
    /*margin: 10px 0 5px 5px;*/
}
.tae-menu {
    width: 30%;
    float: right;
    display: inline-block;
}